body {
  font-family: Arial;
  background: #f4f4f4;
}

form {
  width: 300px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  background: white;
}

input {
  display: block;
  margin: 10px 0;
  width: 100%;
  padding: 8px;
}

button {
  padding: 10px;
  background: blue;
  color: white;
  border: none;
}